In [129]:
import numpy as np
import pandas as pd
dataset1 = pd.read_csv("/dataTrainingSet.csv")

In [130]:
dataset1.head() #first 5 column

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,adviser,32/60,125,256,6000,256,16,128,198,199
1,amdahl,470v/7,29,8000,32000,32,8,32,269,253
2,amdahl,470v/7a,29,8000,32000,32,8,32,220,253
3,amdahl,470v/7b,29,8000,32000,32,8,32,172,253
4,amdahl,470v/7c,29,8000,16000,32,8,16,132,132

In [131]:
dataset1.tail()#last 5 columns

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
204,sperry,80/8,124,1000,8000,0,1,8,42,37
205,sperry,90/80-model-3,98,1000,8000,32,2,8,46,50
206,sratus,32,125,2000,8000,0,2,14,52,41
207,wang,vs-100,480,512,8000,32,0,0,67,47
208,wang,vs-90,480,1000,4000,0,0,0,45,25

In [132]:
dataset1.isnull().sum()

Column1     0
Column2     0
Column3     0
Column4     0
Column5     0
Column6     0
Column7     0
Column8     0
Column9     0
Column10    0
dtype: int64

In [133]:
df=dataset1.drop(['Column1','Column2','Column3','Column5','Column7'],axis=1)  #removing useless column to minimize dataset

In [134]:
df.shape

(209, 5)

In [135]:
df.dtypes

Column4     int64
Column6     int64
Column8     int64
Column9     int64
Column10    int64
dtype: object

In [136]:
df.info() #count and datatype of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column4   209 non-null    int64
 1   Column6   209 non-null    int64
 2   Column8   209 non-null    int64
 3   Column9   209 non-null    int64
 4   Column10  209 non-null    int64
dtypes: int64(5)
memory usage: 8.3 KB

In [137]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
df_im=si.fit_transform(df)

In [138]:
df_im=pd.DataFrame(df_im)

In [139]:
data=df_im

In [140]:
target=df_im[0]

In [141]:
df.head()

   Column4  Column6  Column8  Column9  Column10
0      256      256      128      198       199
1     8000       32       32      269       253
2     8000       32       32      220       253
3     8000       32       32      172       253
4     8000       32       16      132       132

In [142]:
import matplotlib.pyplot as plot
from sklearn import linear_model

In [143]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,target,test_size=0.3)

In [144]:
x_train.shape

(146, 5)

In [145]:
x_test.shape

(63, 5)

In [146]:
from sklearn.linear_model import Perceptron

In [147]:
p1=Perceptron(penalty='l1')

In [148]:
df

     Column4  Column6  Column8  Column9  Column10
0        256      256      128      198       199
1       8000       32       32      269       253
2       8000       32       32      220       253
3       8000       32       32      172       253
4       8000       32       16      132       132
..       ...      ...      ...      ...       ...
204     1000        0        8       42        37
205     1000       32        8       46        50
206     2000        0       14       52        41
207      512       32        0       67        47
208     1000        0        0       45        25

[209 rows x 5 columns]

In [149]:
p1.fit(x_train,y_train)

Perceptron(penalty='l1')

In [150]:
from sklearn.metrics import accuracy_score

In [151]:
train_pred=p1.predict(x_train)

In [152]:
train_pred=p1.predict(x_test)

In [153]:
X=df
y=df['Column4']
from sklearn.linear_model import LogisticRegression

from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y = lab.fit_transform(y)

In [154]:
#split the dataset in the Training and testing 
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)
print(np.shape(X))
print(np.shape(X_test))
print(np.shape(X_train))

#Create the object of StandardScaler class for independent variables or features
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

(209, 5)
(63, 5)
(146, 5)

In [155]:
### SVM (Support Vector Machine)
from sklearn.svm import SVC
svm = SVC(kernel='linear', C=1,random_state=0)
svm.fit(X_train_std,y_train)
y_pred=svm.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 18
Accuracy:0.71

In [156]:
### KNN (K-Nearest Neighbors)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn1=KNeighborsClassifier(n_neighbors=3)
knn1.fit(X_train_std,y_train)
y_pred=knn1.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 18
Accuracy:0.71

In [157]:
### Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X,y)
model = LogisticRegression(solver='liblinear', random_state=0).fit(X, y)
model.predict_proba(X)
model.predict(X)
model.score(X,y)
print(classification_report(y, model.predict(X)))
model.score(X,y)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.00      0.00      0.00         1
           2       1.00      1.00      1.00         1
           3       1.00      1.00      1.00         1
           4       0.67      0.62      0.64        13
           5       0.00      0.00      0.00         2
           6       0.00      0.00      0.00         2
           7       0.00      0.00      0.00         1
           8       0.50      0.32      0.39        22
           9       0.00      0.00      0.00         1
          10       0.00      0.00      0.00        10
          11       0.39      0.39      0.39        38
          12       1.00      1.00      1.00         2
          13       0.00      0.00      0.00         1
          14       0.50      1.00      0.66        54
          15       0.00      0.00      0.00         1
          16       0.00      0.00      0.00         2
          17       0.00      0.00      0.00         1
          18       0.67      1.00      0.80         2
          19       0.00      0.00      0.00        22
          20       1.00      1.00      1.00         1
          21       0.00      0.00      0.00         2
          22       0.72      0.65      0.68        20
          23       0.80      0.57      0.67         7
          24       0.00      0.00      0.00         1

    accuracy                           0.52       209
   macro avg       0.33      0.34      0.33       209
weighted avg       0.42      0.52      0.44       209

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.5167464114832536

In [159]:
from sklearn.ensemble import RandomForestClassifier #algorithm of hyperparameter tuning
from sklearn.model_selection import GridSearchCV #Cv: Cross Validation
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10]
}
# Create a random forest classifier object
rfc = RandomForestClassifier()

# Perform a grid search with cross-validation to find the best hyperparameters
grid_search = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and their corresponding accuracy score on the validation set
print("Best hyperparameters:", grid_search.best_params_)
y_pred = grid_search.predict(X_val)
print("Validation accuracy score:", accuracy_score(y_val, y_pred))

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best hyperparameters: {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 50}
Validation accuracy score: 0.9047619047619048